/*

##Device = Desktops

##Screen = 1281px to higher resolution desktops

##Device = 데스크탑

##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
  #banner #text-box .title {
    font-size: 40px;
  }
  #banner #text-box .title-bold {
    font-size: 50px;
  }
  #banner #text-box #title-main {
    font-size: 65px;
  }
  #register #text-box #title {
    font-size: 40px;
  }

  #register #text-box .content {
    font-size: 21px;
  }

  #recipe #text-box #title {
    font-size: 40px;
  }

  #recipe #text-box .content {
    font-size: 21px;
  }

  #graph #text-box {
    right: 50%;
  }

  #graph #text-box #title {
    font-size: 40px;
  }

  #graph #text-box .content {
    font-size: 21px;
  }

  #bottom #text-box {
    margin-right: 17%;
  }

  #bottom #text-box span {
    font-size: 25px;
  }

  #bottom #text-box #title {
    font-size: 35px;
  }
}

/*

##Device = Laptops, Desktops

##Screen = B/w 1025px to 1280px

##Device = 랩탑, 데스크탑

##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #banner #text-box .title {
    font-size: 30px;
  }

  #banner #text-box .title-bold {
    font-size: 40px;
  }

  #banner #text-box #title-main {
    font-size: 55px;
  }

  #register #text-box #title {
    font-size: 40px;
  }

  #register #text-box .content {
    font-size: 21px;
  }

  #register #text-box {
    right: 40%;
  }

  #recipe #text-box #title {
    font-size: 40px;
  }

  #recipe #text-box .content {
    font-size: 21px;
  }

  #graph #text-box {
    right: 50%;
  }

  #graph #text-box #title {
    font-size: 40px;
  }

  #graph #text-box .content {
    font-size: 21px;
  }

  #bottom #text-box {
    margin-right: 17%;
  }

  #bottom #text-box span {
    font-size: 25px;
  }

  #bottom #text-box #title {
    font-size: 35px;
  }
}

/*

##Device = Tablets, Ipads (portrait),

##Screen = B/w 768px to 1024px

##Device = 태블릿, 아이패드(세로),

##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #banner #text-box .title {
    font-size: 20px;
  }

  #banner #text-box .title-bold {
    font-size: 30px;
  }

  #banner #text-box #title-main {
    font-size: 45px;
  }

  #banner #text-box #link-button #link img {
    width: 115px;
    height: 33px;
  }

  #register #text-box #title {
    font-size: 30px;
  }

  #register #text-box .content {
    font-size: 17px;
  }

  #register #text-box {
    right: 42%;
  }

  #recipe #text-box #title {
    font-size: 30px;
  }

  #recipe #text-box .content {
    font-size: 17px;
  }

  #graph #text-box {
    right: 50%;
  }

  #graph #text-box #title {
    font-size: 30px;
  }

  #graph #text-box .content {
    font-size: 17px;
  }

  #bottom #text-box {
    margin-right: 17%;
  }

  #bottom #text-box span {
    font-size: 25px;
  }

  #bottom #text-box #title {
    font-size: 35px;
  }
}

/*

##Device = Tablets, Ipads (landscape)

##Screen = B/w 768px to 1024px

##Device = 태블릿, 아이패드(가로)

##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #banner #text-box .title {
    font-size: 20px;
  }
  #banner #text-box .title-bold {
    font-size: 30px;
  }
  #banner #text-box #title-main {
    font-size: 45px;
  }
  #banner #text-box #link-button #link img {
    width: 115px;
    height: 33px;
  }
  #register #text-box #title {
    font-size: 30px;
  }

  #register #text-box .content {
    font-size: 17px;
  }

  #register #text-box {
    right: 42%;
  }

  #recipe #text-box #title {
    font-size: 30px;
  }

  #recipe #text-box .content {
    font-size: 17px;
  }

  #graph #text-box {
    right: 50%;
  }

  #graph #text-box #title {
    font-size: 30px;
  }

  #graph #text-box .content {
    font-size: 17px;
  }

  #bottom #text-box {
    margin-right: 17%;
  }

  #bottom #text-box span {
    font-size: 25px;
  }

  #bottom #text-box #title {
    font-size: 35px;
  }
}

/*

##Device = Low Resolution Tablets, Mobiles (Landscape)

##Screen = B/w 481px to 767px

##Device = 저해상도 태블릿, 모바일(가로)

##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
  #banner #text-box .title {
    font-size: 10px;
  }
  #banner #text-box .title-bold {
    font-size: 20px;
  }
  #banner #text-box #title-main {
    font-size: 30px;
  }
  h2 {
    margin: 1%;
  }
  h1 {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  #banner #text-box #link-button {
    margin-top: 9%;
  }
  #banner #text-box #link-button #link img {
    width: 115px;
    height: 33px;
  }
  #register #text-box #title {
    font-size: 17px;
  }

  #register #text-box .content {
    font-size: 11px;
  }

  #register #text-box {
    right: 43%;
  }

  #register h3 {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #recipe #text-box #title {
    font-size: 17px;
  }

  #recipe #text-box .content {
    font-size: 11px;
  }

  #recipe h3 {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #graph #text-box {
    right: 50%;
  }

  #graph #text-box #title {
    font-size: 17px;
  }

  #graph #text-box .content {
    font-size: 11px;
  }

  #graph h3 {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #bottom #text-box {
    margin-right: 17%;
  }

  #bottom #text-box span {
    font-size: 17px;
  }

  #bottom #text-box #title {
    font-size: 21px;
  }

  #bottom #link img {
    width: 138px;
    height: 40px;
  }
}

/*

##Device = Most of the Smartphones Mobiles (Portrait)

##Screen = B/w 320px to 479px

##Device = 대부분의 스마트폰 모바일 기기(세로)

##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
  #banner #text-box {
    margin-top: 1%;
  }
  #banner #text-box .title {
    font-size: 10px;
  }
  #banner #text-box .title-bold {
    font-size: 15px;
  }
  #banner #text-box #title-main {
    font-size: 20px;
  }
  h2 {
    margin: 0%;
  }
  h1 {
    margin-top: 2%;
    margin-bottom: 4%;
  }
  #banner #text-box #link-button {
    margin-top: 2%;
  }
  #banner #text-box #link-button #link img {
    width: 69px;
    height: 20px;
  }
  #register #text-box #title {
    font-size: 12px;
  }

  #register #text-box .content {
    font-size: 9px;
  }

  #register #text-box {
    right: 42%;
  }

  #register h3 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  #recipe #text-box {
    margin-left: 12%;
  }

  #recipe #text-box #title {
    font-size: 12px;
  }

  #recipe #text-box .content {
    font-size: 9px;
  }

  #recipe h3 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  #graph #text-box {
    right: 50%;
  }

  #graph #text-box #title {
    font-size: 12px;
  }

  #graph #text-box .content {
    font-size: 9px;
  }

  #graph h3 {
    margin-top: 0%;
    margin-bottom: 0%;
  }

  #graph #graph-img {
    width: 32%;
    height: 32%;
    margin-right: 14%;
  }

  #bottom #text-box {
    margin-right: 11%;
  }

  #bottom #text-box span {
    font-size: 12px;
  }

  #bottom #text-box #title {
    font-size: 16px;
  }

  #bottom #link img {
    width: 115px;
    height: 33px;
  }
}
